{% extends "MgnCoreBundle::admin.html.twig" %}

{% block title %}
    Paramètres des articles - {{ parent() }}
{% endblock %}

{% block sidebar_parameters %}nav-expanded nav-active{% endblock %}
{% block parameters_submenu_articles %} class="active"{% endblock %}

{% block arianne %}
    {{ parent() }}
        </li>
        <li>
            Paramètres des articles
{% endblock %}

{% block parameters_body %}

    {% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-primary">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form) }}

        <section class="panel">

            <header class="panel-heading">

                <h2 class="panel-title">Paramètres des articles</h2>
                <p class="panel-subtitle">
                    Configurer les paramètres des articles.
                </p>

            </header>

            <div class="panel-body">

                <h4 class="mb-xlg">Module</h4>

                <fieldset>

                    <div class="form-group{% if form_errors(form.cmsArticle) %} has-error{% endif %}">

                        {{ form_label(form.cmsArticle, "Activer", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                        {{ form_errors(form.cmsArticle) }}
                        <div class="col-md-7">
                            <div class="switch switch-sm switch-primary">
                                {{ form_widget(form.cmsArticle, {'attr': {'class': 'form-control', 'data-plugin-ios-switch' : 'data-plugin-ios-switch'}}) }}
                            </div>
                        </div>

                    </div>

                </fieldset>

            </div>

            <footer class="panel-footer">

                <div class="row">

                    <div class="col-md-9 col-md-offset-3">

                        {{ form_widget(form.save, {'label': 'Mettre à jour', 'attr': {'class': 'btn btn-primary'}}) }}
                        <a href="{{ path('mgn_admin_core_parameters_articles') }}" class="btn btn-default">Annuler les modifications</a>

                    </div>

                </div>

            </footer>

        </section>

        {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}
