{% extends "MgnCoreBundle::adminParameters.html.twig" %}

{% block title %}
    Paramètres du site - {{ parent() }}
{% endblock %}

{% block sidebar_parameters %}nav-expanded nav-active{% endblock %}
{% block parameters_submenu_site %} class="active"{% endblock %}

{% block arianne %}
    {{ parent() }}
        </li>
        <li>
            Paramètres du site
{% endblock %}

{% block parameters_body %}

    {% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-primary">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form) }}

        <section class="panel">

            <header class="panel-heading">

                <h2 class="panel-title">Paramètres du site</h2>
                <p class="panel-subtitle">
                    Configurer les paramètres généraux du site.
                </p>

            </header>

            <div class="panel-body">

                <h4 class="mb-xlg">Général</h4>

                <fieldset>

                    <div class="form-group{% if form_errors(form.siteTitle) %} has-error{% endif %}">
                        {{ form_label(form.siteTitle, "Titre du site", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                        {{ form_errors(form.siteTitle) }}
                        <div class="col-md-7">
                            {{ form_widget(form.siteTitle, {'attr': {'class': 'form-control'}}) }}
                            <p class="help-block">Le nom de votre site ou de votre organisation.</p>
                        </div>
                    </div>

                    <div class="form-group{% if form_errors(form.siteDescription) %} has-error{% endif %}">
                        {{ form_label(form.siteDescription, "Description", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                        {{ form_errors(form.siteDescription) }}
                        <div class="col-md-7">
                            {{ form_widget(form.siteDescription, {'attr': {'class': 'form-control'}}) }}
                            <p class="help-block">Une description courte de votre site, un slogan.</p>
                        </div>
                    </div>

                    <div class="form-group{% if form_errors(form.email) %} has-error{% endif %}">
                        {{ form_label(form.email, "E-mail", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                        {{ form_errors(form.email) }}
                        <div class="col-md-7">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                </fieldset>

                <hr class="dotted tall">

                <h4 class="mb-xlg">Social</h4>

                <fieldset>

                    <div class="form-group{% if form_errors(form.siteFacebook) %} has-error{% endif %}">
                        {{ form_label(form.siteFacebook, "Page Facebook", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                        {{ form_errors(form.siteFacebook) }}
                        <div class="col-md-7">
                            {{ form_widget(form.siteFacebook, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group{% if form_errors(form.siteTwitter) %} has-error{% endif %}">
                        {{ form_label(form.siteTwitter, "Compte Twitter", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                        {{ form_errors(form.siteTwitter) }}
                        <div class="col-md-7">
                            {{ form_widget(form.siteTwitter, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group{% if form_errors(form.siteSteam) %} has-error{% endif %}">
                        {{ form_label(form.siteSteam, "Groupe Steam", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                        {{ form_errors(form.siteSteam) }}
                        <div class="col-md-7">
                            {{ form_widget(form.siteSteam, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group{% if form_errors(form.siteGoogleplus) %} has-error{% endif %}">
                        {{ form_label(form.siteGoogleplus, "Page Google Plus", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                        {{ form_errors(form.siteGoogleplus) }}
                        <div class="col-md-7">
                            {{ form_widget(form.siteGoogleplus, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group{% if form_errors(form.siteTwitch) %} has-error{% endif %}">
                        {{ form_label(form.siteTwitch, "Chaine Twitch", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                        {{ form_errors(form.siteTwitch) }}
                        <div class="col-md-7">
                            {{ form_widget(form.siteTwitch, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group{% if form_errors(form.siteYoutube) %} has-error{% endif %}">
                        {{ form_label(form.siteYoutube, "Chaine YouTube", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                        {{ form_errors(form.siteYoutube) }}
                        <div class="col-md-7">
                            {{ form_widget(form.siteYoutube, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                </fieldset>

            </div>

            <footer class="panel-footer">

                <div class="row">

                    <div class="col-md-9 col-md-offset-3">

                        {{ form_widget(form.save, {'label': 'Mettre à jour', 'attr': {'class': 'btn btn-primary'}}) }}
                        <a href="{{ path('mgn_admin_core_parameters_site') }}" class="btn btn-default">Annuler les modifications</a>

                    </div>

                </div>

            </footer>

        </section>

        {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}
