<li class="media">

	<a class="media-left" href="{{ path('mgn_user_profile', {'username': article.author.usernameCanonical}) }}">

		{{ message.author.avatar|avatar(message.author.avatarPath, message.author.email, '50', 'media-object')|raw }}
		
	</a>

	<div class="media-body">

		<h4 class="media-heading" style="width: 100%;">

	        <a href="{{ path('mgn_user_profile', {'username': message.author.usernameCanonical}) }}">{{ message.author.username }}</a>

	        {#<span class="pull-right">

	            <small class="pull-right">#{{ loop.index }}</small>

	        </span>#}

	        <small>{{ message.date|datetime|capitalize }}</small>

		</h4>

		{% if message.messageLock == 1 %}
	  
			<p class="text-error">Ce commentaire a été modéré.</p>
	  
		{% else %}
	  
			<p>

				{{ message.contents|nl2br }}

			</p>
	  
		{% endif %}

	</div>

</li>