<div class="col-lg-12">

	<p class="article-read-infos">

		<i class="fa fa-calendar"></i> {{ article.date|datetime|capitalize }} 
		<i class="fa fa-folder-open"></i> <a href="{{ path('mgn_article_archives', {'filtre': article.category.slug}) }}">{{ article.category.name }}</a> 
		<i class="fa fa-comments"></i> <a  href="{{ path('mgn_article_read', {'date': article.date|date('d-m-Y'), 'id': article.id, 'slug': article.slug, 'category': article.category.slug}) }}#comments">{{ article.countComments }} {% if article.countComments <= 1 %}Commentaire{% else %}Commentaires{% endif %}</a>

	</p>

</div>