{% extends "MgnCoreBundle::adminThemes.html.twig" %}

{% block pagetitle %}Liste des thèmes{% endblock %}

{% block title %}
    Thèmes - {{ parent() }}
{% endblock %}

{% block sidebar_themes %}nav-expanded nav-active{% endblock %}

{% block arianne %}
    {{ parent() }}
        </li>
        <li>
            Liste des thèmes
{% endblock %}

{% block themes_body %}

    {% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-primary">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <div class="row">

        {% for theme in themes %}

            {% if theme.slug == Config('theme') %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

            <div class="col-md-4">

                <section class="panel">

                    <div class="panel-body">
                        <img src="{{ asset('themes/'~theme.slug~'/preview.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                    </div>

                    <div class="panel-footer">

                        <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}{{ theme.themeTitle }}</span>

                        <span class="pull-right">

                            <button class="modal-with-zoom-anim modal-sizes btn btn-primary" href="#modal{{ theme.id }}">Détails</button>
                            {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                        </span>

                    </div>

                </section>

            </div>

            <!-- Modal -->
            <div id="modal{{ theme.id }}" class="zoom-anim-dialog modal-block modal-block-lg mfp-hide">

                <section class="panel">

                    <div class="panel-body">

                        <div class="row">

                            <div class="col-lg-6">

                                <img src="{{ asset('themes/'~theme.slug~'/preview.png') }}" alt="..." class="pull-left img-thumbnail" style="margin-right:10px; max-width: 100%;">

                            </div>

                            <div class="col-lg-6">

                                <div class="row">

                                    <div class="col-lg-12" style="height: 30px;">

                                        {% if actif == true %}<p><span class="label label-primary">Thème actuel</span></p>{% endif %}

                                    </div>

                                    <div class="col-lg-12">

                                        <h1 class="modal-title" id="myModalLabel">{{ theme.themeTitle }} <small><small>Version : {{ theme.version }}</small></small></h1>

                                    </div>

                                    <div class="col-lg-12" style="margin-top: 10px;">

                                        <p>Par <a href="{{ theme.url }}" target="_blank">{{ theme.author }}</a></p>

                                    </div>

                                    <div class="col-lg-12" style="margin-top: 40px;">

                                        <p>
                                            {{ theme.description }}
                                        </p>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <footer class="panel-footer">

                        <div class="row">

                            <div class="col-md-12 text-center">

                                <a class="btn btn-primary" href="{{ path('mgn_core_admin_editor_articles', {'theme': theme.id, 'file': 'articlesRead'}) }}">Editeur</a>
                                <button class="btn btn-default modal-dismiss">Fermer</button>

                            </div>

                        </div>

                    </footer>

                </section>

            </div>

        {% endfor %}

    </div>

{% endblock %}
