{% extends "MgnCoreBundle::adminThemes.html.twig" %}

{% block pagetitle %}Liste des thèmes{% endblock %}

{% block title %}
    Thèmes - {{ parent() }}
{% endblock %}

{% block sidebar_themes %}nav-expanded nav-active{% endblock %}

{% block arianne %}
    {{ parent() }}
        </li>
        <li>
            Liste des thèmes
{% endblock %}

{% block themes_body %}

    {% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-primary">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <div class="row">

        {% if Config('theme') == 'Cerulean' %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

        <div class="col-md-3">

            <section class="panel">

                <div class="panel-body">
                    <img src="{{ asset('vendor/bootswatch/cerulean/thumbnail.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                </div>

                <div class="panel-footer">

                    <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}Cerrulean</span>

                    <span class="pull-right">

                        {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                    </span>

                </div>

            </section>

        </div>

        {% if Config('theme') == 'Cosmo' %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

        <div class="col-md-3">

            <section class="panel">

                <div class="panel-body">
                    <img src="{{ asset('vendor/bootswatch/cosmo/thumbnail.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                </div>

                <div class="panel-footer">

                    <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}Cosmo</span>

                    <span class="pull-right">

                        {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                    </span>

                </div>

            </section>

        </div>

        {% if Config('theme') == 'Cyborg' %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

        <div class="col-md-3">

            <section class="panel">

                <div class="panel-body">
                    <img src="{{ asset('vendor/bootswatch/cyborg/thumbnail.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                </div>

                <div class="panel-footer">

                    <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}Cyborg</span>

                    <span class="pull-right">

                        {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                    </span>

                </div>

            </section>

        </div>

        {% if Config('theme') == 'Darkly' %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

        <div class="col-md-3">

            <section class="panel">

                <div class="panel-body">
                    <img src="{{ asset('vendor/bootswatch/darkly/thumbnail.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                </div>

                <div class="panel-footer">

                    <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}Darkly</span>

                    <span class="pull-right">

                        {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                    </span>

                </div>

            </section>

        </div>

        {% if Config('theme') == 'Flatly' %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

        <div class="col-md-3">

            <section class="panel">

                <div class="panel-body">
                    <img src="{{ asset('vendor/bootswatch/flatly/thumbnail.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                </div>

                <div class="panel-footer">

                    <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}Flatly</span>

                    <span class="pull-right">

                        {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                    </span>

                </div>

            </section>

        </div>

        {% if Config('theme') == 'Journal' %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

        <div class="col-md-3">

            <section class="panel">

                <div class="panel-body">
                    <img src="{{ asset('vendor/bootswatch/journal/thumbnail.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                </div>

                <div class="panel-footer">

                    <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}Journal</span>

                    <span class="pull-right">

                        {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                    </span>

                </div>

            </section>

        </div>

        {% if Config('theme') == 'Lumen' %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

        <div class="col-md-3">

            <section class="panel">

                <div class="panel-body">
                    <img src="{{ asset('vendor/bootswatch/lumen/thumbnail.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                </div>

                <div class="panel-footer">

                    <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}Lumen</span>

                    <span class="pull-right">

                        {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                    </span>

                </div>

            </section>

        </div>

        {% if Config('theme') == 'Paper' %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

        <div class="col-md-3">

            <section class="panel">

                <div class="panel-body">
                    <img src="{{ asset('vendor/bootswatch/paper/thumbnail.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                </div>

                <div class="panel-footer">

                    <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}Paper</span>

                    <span class="pull-right">

                        {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                    </span>

                </div>

            </section>

        </div>

        {% if Config('theme') == 'Readable' %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

        <div class="col-md-3">

            <section class="panel">

                <div class="panel-body">
                    <img src="{{ asset('vendor/bootswatch/readable/thumbnail.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                </div>

                <div class="panel-footer">

                    <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}Readable</span>

                    <span class="pull-right">

                        {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                    </span>

                </div>

            </section>

        </div>

        {% if Config('theme') == 'Sandstone' %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

        <div class="col-md-3">

            <section class="panel">

                <div class="panel-body">
                    <img src="{{ asset('vendor/bootswatch/sandstone/thumbnail.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                </div>

                <div class="panel-footer">

                    <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}Sandstone</span>

                    <span class="pull-right">

                        {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                    </span>

                </div>

            </section>

        </div>

        {% if Config('theme') == 'Simplex' %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

        <div class="col-md-3">

            <section class="panel">

                <div class="panel-body">
                    <img src="{{ asset('vendor/bootswatch/simplex/thumbnail.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                </div>

                <div class="panel-footer">

                    <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}Simplex</span>

                    <span class="pull-right">

                        {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                    </span>

                </div>

            </section>

        </div>

        {% if Config('theme') == 'Slate' %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

        <div class="col-md-3">

            <section class="panel">

                <div class="panel-body">
                    <img src="{{ asset('vendor/bootswatch/slate/thumbnail.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                </div>

                <div class="panel-footer">

                    <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}Slate</span>

                    <span class="pull-right">

                        {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                    </span>

                </div>

            </section>

        </div>

        {% if Config('theme') == 'Spacelab' %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

        <div class="col-md-3">

            <section class="panel">

                <div class="panel-body">
                    <img src="{{ asset('vendor/bootswatch/spacelab/thumbnail.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                </div>

                <div class="panel-footer">

                    <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}Spacelab</span>

                    <span class="pull-right">

                        {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                    </span>

                </div>

            </section>

        </div>

        {% if Config('theme') == 'Superhero' %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

        <div class="col-md-3">

            <section class="panel">

                <div class="panel-body">
                    <img src="{{ asset('vendor/bootswatch/superhero/thumbnail.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                </div>

                <div class="panel-footer">

                    <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}Superhero</span>

                    <span class="pull-right">

                        {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                    </span>

                </div>

            </section>

        </div>

        {% if Config('theme') == 'United' %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

        <div class="col-md-3">

            <section class="panel">

                <div class="panel-body">
                    <img src="{{ asset('vendor/bootswatch/united/thumbnail.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                </div>

                <div class="panel-footer">

                    <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}United</span>

                    <span class="pull-right">

                        {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                    </span>

                </div>

            </section>

        </div>

        {% if Config('theme') == 'Yeti' %}{% set actif = true %}{% else %}{% set actif = false %}{% endif %}

        <div class="col-md-3">

            <section class="panel">

                <div class="panel-body">
                    <img src="{{ asset('vendor/bootswatch/yeti/thumbnail.png') }}" alt="..." class="pull-left" style="margin-right:10px; max-width: 100%;">
                </div>

                <div class="panel-footer">

                    <span class="lead text-primary">{% if actif == true %}<strong>Activé : </strong>{% endif %}Yeti</span>

                    <span class="pull-right">

                        {% if actif == false %}<a href="#" class="btn btn-default" role="button">Définir par défaut</a>{% endif %}

                    </span>

                </div>

            </section>

        </div>

    </div>

{% endblock %}
