<section id="{{ content.id }}" class="sortable panel">

	<div class="panel-body">

		<form id="formContents_{{ content.id }}" action="{{ path('mgn_content', {'container': 'article', 'id': article.id, 'content': content.id, 'type': 'picture', 'action': 'save'})}}" method="post" {{ form_enctype(form_content) }} class="form-horizontal" role="form">

			<div class="fileupload fileupload-new" data-provides="fileupload">

				<div class="fileupload-new thumbnail" style="width: 100%;">

					<img src="{{ asset('admin/img/article_header_default.png') }}" alt="...">

				</div>

				<div class="fileupload-preview fileupload-exists thumbnail" style="width: 100%;"></div>

				<div style="margin-left: 4px;">

					<span class="btn btn-default btn-file"><span class="fileupload-new">Parcourir</span><span class="fileupload-exists">Changer</span>{{ form_widget(form_content.pictureFile) }}</span> <img class="loader" src="{{ asset('admin/img/ajax-loader.gif') }}" title="" />
					
				</div>
			</div>
		        
		    {{ form_rest(form_content) }}

			<div class="pull-right">

				<button type="button" class="btn btn-primary btn-xs content-save">Enregistrer</button>

				<button type="button" class="btn btn-danger btn-xs content-delete" href="{{ path('mgn_content_delete', {'content': content.id})}}">Supprimer</button>

			</div>

		</form>

	</div>

</section>
