{% extends "MgnUserBundle::layout.html.twig" %}

{% block title %}{{ user.username }} - {{ parent() }}{% endblock %}

{% block pagetitle %}{{ user.username }}{% endblock %}

{% set pagetitle = user.username %}

{% block arianne %}

    {{ parent() }}
	<li class="active">{{ user.username }}</li>

{% endblock %}

{% block body %}

	<div class="row">

		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.usernameCanonical == user.usernameCanonical %}

			<div class="col-lg-12">

				<ul class="nav nav-tabs">

					<li class="active"><a href="{{ path('mgn_user_profile', {'username': user.usernameCanonical}) }}">Profil</a></li>
					<li><a href="{{ path("mgn_user_edit_profile", {'username': user.usernameCanonical}) }}">Modifier</a></li>
					<li><a href="{{ path("mgn_user_edit_parameters", {'username': user.usernameCanonical}) }}">Paramètres</a></li>

				</ul>

			</div>

		{% endif %}

		<div class="col-lg-4">

			<div class="panel panel-default">

				<div class="panel-body">

					{{ user.avatar|avatar(user.avatarPath, user.email, '400', 'img-responsive thumbnail')|raw }}

					<p class="text-justify">

						{{ user.biography }}

					</p>

					<p class="text-left">

						{% if user.facebook and Config('profileFacebook') == true %}
							<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com/{{ user.facebook }}" data-original-title="Facebook">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
							</span></a>
						{% endif %}

						{% if user.twitter and Config('profileTwitter') == true %}
							<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.twitter.com/{{ user.twitter }}" data-original-title="Twitter">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
							</span></a>
						{% endif %}
						{% if user.linkedin and Config('profileLinkedin') == true %}
							<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.linkedin.com/pub/{{ user.linkedin }}" data-original-title="Linkedin">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
							</span></a>
						{% endif %}
						{% if user.steam and Config('profileSteam') == true %}
							<a rel="tooltip" data-placement="bottom" target="_blank" href="http://steamcommunity.com/id/{{ user.steam }}" data-original-title="Steam">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-steam fa-stack-1x fa-inverse"></i>
							</span></a>
						{% endif %}
						{% if user.googleplus and Config('profileGoogleplus') == true %}
							<a rel="tooltip" data-placement="bottom" target="_blank" href="http://plus.google.com/{{ user.googleplus }}" data-original-title="Google Plus">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
							</span></a>
						{% endif %}
						{% if user.twitch and Config('profileTwitch') == true %}
							<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.twitch.tv/{{ user.twitch }}" data-original-title="Twitch">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-twitch fa-stack-1x fa-inverse"></i>
							</span></a>
						{% endif %}
						{% if user.youtube and Config('profileYoutube') == true %}
							<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.youtube.com/channel/{{ user.youtube }}" data-original-title="Youtube">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
							</span></a>
						{% endif %}
						{% if user.pinterest and Config('profilePinterest') == true %}
							<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.pinterest.com/{{ user.pinterest }}" data-original-title="Pinterest">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
							</span></a>
						{% endif %}

					</p>

				</div>

			</div>

			<h4 class="text-muted">Statistiques</h4>

			<dl>

			{% if Config('cmsArticle') == true %}

				<dd>{{ user.countArticle }} articles publiés</dd>

			{% endif %}

			{% if Config('cmsForum') == true %}

				<dd>{{ user.countTopic }} sujets créés</dd>

			{% endif %}

			{% if Config('cmsForum') == true %}

				<dd>{{ user.countPost }} messages sur le forum</dd>

			{% endif %}

				<dd>{{ user.countMessage }} commentaires</dd>

			</dl>

		</div>

		<div class="col-lg-8">

			<div class="row">

				<div class="col-lg-12">

					<div class="page-header">

						<h4>Informations général</h4>

					</div>

				</div>

				<div class="col-md-10 col-md-offset-2">

					<dl class="dl-horizontal">

						<dt>Date d'inscription</dt>
						<dd>{{ user.registered|datetime|capitalize }}</dd>

						<dt>Dernière connexion</dt>
						<dd>{{ user.lastlogin|datetime|capitalize }}</dd>
						
					</dl>

					<dl class="dl-horizontal">
						
						{% if user.firstName != null %}
							<dt>Prénom</dt>
							<dd>{{ user.firstName }}</dd>
						{% endif %}
						
						{% if user.lastName != null %}
							<dt>Nom</dt>
							<dd>{{ user.lastName }}</dd>
						{% endif %}
						
						{% if user.birthday != null %}
							<dt>Date de naissance</dt>
							<dd>{{ user.birthday|date('d/m/Y') }}</dd>
						{% endif %}
						
						{% if user.city != null %}
							<dt>Ville</dt>
							<dd>{{ user.city }}</dd>
						{% endif %}

					</dl>

				</div>

				<div class="col-lg-12">

					<div class="page-header">

						<h4>A propos</h4>

					</div>

				</div>

				<div class="col-md-10 col-md-offset-2">

					<dl class="dl-horizontal">

						{% if user.website != null %}
							<dt>Site web</dt>
							<dd><a href="{{ user.website }}" target="_blank">{{ user.website }}</a></dd>
						{% endif %}
						
					</dl>

					<dl class="dl-horizontal">

						{% if user.signature != null %}
							<dt>Signature</dt>
							<dd>{% set url = app.request.schemeAndHttpHost %}{{ user.signature|nl2br|mcode('parser', 'comments', url)|raw }}</dd>
						{% endif %}
						
					</dl>

				</div>

			</div>

		</div>

	</div>

{% endblock %}
