<div class="navbar-collapse collapse ">

    <ul class="nav navbar-nav">

        {% if Config('cmsArticle') == true %}
            <li class="navbar-button{% if bundle is defined and bundle == 'article' %} active{% endif %}">
                <a href="{% if Config('homepage') == 'article' %}{{ path("mgn_home") }}{% else %}{{ path("mgn_article") }}{% endif %}">Blog</a>
            </li>
        {% endif %}

        {% if Config('cmsForum') == true %}
            <li class="navbar-button{% if bundle is defined and bundle == 'forum' %} active{% endif %}">
                <a href="{% if Config('homepage') == 'forum' %}{{ path("mgn_home") }}{% else %}{{ path("mgn_forum") }}{% endif %}">Forums</a>
            </li>
        {% endif %}

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <li class="dropdown" id="headerAccount">

            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="{{ path("mgn_user_profile", {'username': app.user.usernameCanonical}) }}">
                <i class="fi-torso"></i> {{ app.user.username }}
                <b class=" fa fa-angle-down"></b>
            </a>

            <ul class="dropdown-menu">

                <li>
                    <a href="{{ path("mgn_user_profile", {'username': app.user.usernameCanonical}) }}">Mon compte</a>
                </li>

                {#<li>
                    <a href="#">Mes équipes</a>
                </li>#}

                {% if is_granted("ROLE_ADMIN") %}
                <li>
                    <a href="{{ path("mgn_admin_homepage") }}">Administration</a>
                </li>
                {% endif %}

                <li>
                    <a href="{{ path("logout") }}">Se déconnecter</a>
                </li>

            </ul>

        </li>
        
        {% else %}

        <li class="navbar-button{% if bundle is defined and bundle == 'user' %} active{% endif %}">
            <a href="{{ path("user.connexion") }}">Mon compte</a>
        </li>
            
        {% endif %}

    </ul>

</div>