{% extends "MgnUserBundle::layout.html.twig" %}

{% block arianne %}
    {{ parent() }}
    </li>
    <li class="active">
        {{ 'user.ariane.login'|trans }}
    </li>
{% endblock %}

{% set bundle = 'user' %}

{% block body %}

<div class="row">

    <div class="col-lg-6">

        <div class="panel panel-default">

            <div class="panel-body">

                <h2><small>J'ai déjà un compte</small></h2>

                {% if error %}

                <div class="alert alert-danger alert-dismissable">

                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                    <strong>{{ 'security.login.form.error'|trans }} !</strong> Informations incorrects
                    
                </div>

                {% endif %}

                <form role="form" action="{{ path('login_check') }}" method="post" class="">

                   <div class="form-group">

                        <label for="username" class="control-label">Pseudo ou adresse e-mail</label>

                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />

                    </div>

                    <div class="form-group">

                        <label for="password" class="control-label">Mot de passe</label><a class="pull-right" href="{{ path('user.resetting') }}">(Mot de passe perdu ?)</a>

                        <input type="password" id="password" name="_password" class="form-control" />

                    </div>

                    <div class="form-group">

                        <div class="row">

                            <div class="col-lg-6">

                                <div class="checkbox">

                                    <label>

                                        <input type="checkbox"> Se souvenir de moi <a data-toggle="tooltip" data-placement="bottom" title="N'activez pas cette option si vous n'êtes pas sur votre ordinateur !"><span class="badge">?</span></a>

                                    </label>

                                </div>

                            </div>

                            <div class="col-lg-6">

                                <button type="submit" class="pull-right btn btn-primary">Se connecter</button>

                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

    <div class="col-lg-6">

        <div class="panel {% if form_errors(formRegister.username) or form_errors(formRegister.email) or form_errors(formRegister.password.first) %}panel-danger{% else %}panel-default{% endif %}">

            <div class="panel-body">

                <h2><small>Créer un compte</small></h2>

                {{ form_start(formRegister) }}

                    {{ form_errors(formRegister) }}

                    <div class="form-group{% if form_errors(formRegister.username) %} has-error{% endif %}">

                        {{ form_label(formRegister.username, "Pseudo", {'label_attr': {'class': 'control-label'}}) }}
                        <span class="help-block">{{ form_errors(formRegister.username) }}</span>
                        {{ form_widget(formRegister.username, {'attr': {'class': 'form-control'}}) }}

                    </div>

                    <div class="form-group{% if form_errors(formRegister.email) %} has-error{% endif %}">

                        {{ form_label(formRegister.email, "Adresse e-mail", {'label_attr': {'class': 'control-label'}}) }}
                        <span class="help-block">{{ form_errors(formRegister.email) }}</span>
                        {{ form_widget(formRegister.email, {'attr': {'class': 'form-control'}}) }}
                        
                    </div>

                    <div class="form-group{% if form_errors(formRegister.password.first) %} has-error{% endif %}">

                        <div class="row">

                            <div class="col-lg-6">

                                {{ form_label(formRegister.password.first, "Mot de passe", {'label_attr': {'class': 'control-label'}}) }}

                            </div>

                            <div class="col-lg-6">

                                {{ form_label(formRegister.password.second, "Vérification", {'label_attr': {'class': 'control-label'}}) }}

                            </div>

                            <div class="col-lg-12">

                                <span class="help-block">{{ form_errors(formRegister.password.first) }}</span>

                            </div>

                            <div class="col-lg-6">

                                {{ form_widget(formRegister.password.first, {'attr': {'class': 'form-control'}}) }}

                            </div>

                            <div class="col-lg-6">

                                {{ form_widget(formRegister.password.second, {'attr': {'class': 'form-control'}}) }}

                            </div>

                        </div>
                        
                    </div>

                    <div class="form-group">

                        <button type="submit" class="pull-right btn btn-primary">S'enregistrer</button>

                    </div>

                    {{ form_rest(formRegister) }}

                {{ form_end(formRegister) }}

            </div>

        </div>

    </div>

</div>

{% endblock %}
