{% extends "::admin.html.twig" %}

{% block pagetitle %}Paramètres{% endblock %}

{% block arianne %}
    {{ parent() }}
{% endblock %}

{% block body %}
 <div class="row">

	<div class="col-lg-12">
						
		<div class="inner-toolbar clearfix">

			<ul>
				<li{% block parameters_submenu_site %}{% endblock %}>
					<a href="{{ path('mgn_admin_core_parameters_site') }}">Site</a>
				</li>
				<li{% block parameters_submenu_articles %}{% endblock %}>
					<a href="{{ path('mgn_admin_core_parameters_articles') }}">Articles</a>
				</li>
				<li{% block parameters_submenu_forums %}{% endblock %}>
					<a href="{{ path('mgn_admin_core_parameters_forums') }}">Forums</a>
				</li>
				<li{% block parameters_submenu_users %}{% endblock %}>
					<a href="{{ path('mgn_admin_core_parameters_users') }}">Utilisateurs</a>
				</li>
			</ul>

		</div>

	</div>

	<div class="col-lg-12 body-with-menu-toolbar">

		{% block parameters_body %}{% endblock %}

	</div>

</div>
{% endblock %}
