{% extends "MgnCoreBundle::adminEditor.html.twig" %}

{% block title %}
    Modifier les thèmes - {{ parent() }}
{% endblock %}

{% block sidebar_themes %}nav-expanded nav-active{% endblock %}
{% block sidebar_appearance_themes %}select{% endblock %}

{% block arianne %}
    {{ parent() }}
        </li>
        <li>
            Modifier les thèmes
{% endblock %}

{% block editor_body %}

    {% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-primary">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <form method="post" {{ form_enctype(form) }} role="form">

    <section class="panel">

            <header class="panel-heading">

                <h2 class="panel-title">{{ file }}.html.twig</h2>

            </header>

            <div class="panel-body">

                <div class="form-group">

                    {% if file == 'articlesRead' %}
                        {{ form_widget(form.articlesRead, { 'attr' : { 'class' : 'form-control', 'rows' : '60', 'data-plugin-codemirror' : 'data-plugin-codemirror', 'data-plugin-options' : '{ "mode": "text/html" }' } }) }}
                    {% elseif file == 'articlesReadAuthor' %}
                        {{ form_widget(form.articlesReadAuthor, { 'attr' : { 'class' : 'form-control', 'rows' : '60', 'data-plugin-codemirror' : 'data-plugin-codemirror', 'data-plugin-options' : '{ "mode": "text/html" }' } }) }}
                    {% elseif file == 'articlesReadComments' %}
                        {{ form_widget(form.articlesReadComments, { 'attr' : { 'class' : 'form-control', 'rows' : '60', 'data-plugin-codemirror' : 'data-plugin-codemirror', 'data-plugin-options' : '{ "mode": "text/html" }' } }) }}
                    {% elseif file == 'articlesReadComment' %}
                        {{ form_widget(form.articlesReadComment, { 'attr' : { 'class' : 'form-control', 'rows' : '60', 'data-plugin-codemirror' : 'data-plugin-codemirror', 'data-plugin-options' : '{ "mode": "text/html" }' } }) }}
                    {% elseif file == 'articlesReadTitle' %}
                        {{ form_widget(form.articlesReadTitle, { 'attr' : { 'class' : 'form-control', 'rows' : '60', 'data-plugin-codemirror' : 'data-plugin-codemirror', 'data-plugin-options' : '{ "mode": "text/html" }' } }) }}
                    {% elseif file == 'articlesReadInfos' %}
                        {{ form_widget(form.articlesReadInfos, { 'attr' : { 'class' : 'form-control', 'rows' : '60', 'data-plugin-codemirror' : 'data-plugin-codemirror', 'data-plugin-options' : '{ "mode": "text/html" }' } }) }}
                    {% elseif file == 'articlesReadHeader' %}
                        {{ form_widget(form.articlesReadHeader, { 'attr' : { 'class' : 'form-control', 'rows' : '60', 'data-plugin-codemirror' : 'data-plugin-codemirror', 'data-plugin-options' : '{ "mode": "text/html" }' } }) }}
                    {% elseif file == 'articlesReadIntroduction' %}
                        {{ form_widget(form.articlesReadIntroduction, { 'attr' : { 'class' : 'form-control', 'rows' : '60', 'data-plugin-codemirror' : 'data-plugin-codemirror', 'data-plugin-options' : '{ "mode": "text/html" }' } }) }}
                    {% elseif file == 'articlesReadContents' %}
                        {{ form_widget(form.articlesReadContents, { 'attr' : { 'class' : 'form-control', 'rows' : '60', 'data-plugin-codemirror' : 'data-plugin-codemirror', 'data-plugin-options' : '{ "mode": "text/html" }' } }) }}
                    {% elseif file == 'articlesReadContentSubtitle' %}
                        {{ form_widget(form.articlesReadContentSubtitle, { 'attr' : { 'class' : 'form-control', 'rows' : '60', 'data-plugin-codemirror' : 'data-plugin-codemirror', 'data-plugin-options' : '{ "mode": "text/html" }' } }) }}
                    {% elseif file == 'articlesReadContentPicture' %}
                        {{ form_widget(form.articlesReadContentPicture, { 'attr' : { 'class' : 'form-control', 'rows' : '60', 'data-plugin-codemirror' : 'data-plugin-codemirror', 'data-plugin-options' : '{ "mode": "text/html" }' } }) }}
                    {% elseif file == 'articlesReadContentParagraph' %}
                        {{ form_widget(form.articlesReadContentParagraph, { 'attr' : { 'class' : 'form-control', 'rows' : '60', 'data-plugin-codemirror' : 'data-plugin-codemirror', 'data-plugin-options' : '{ "mode": "text/html" }' } }) }}
                    {% elseif file == 'articlesReadContentVideo' %}
                        {{ form_widget(form.articlesReadContentVideo, { 'attr' : { 'class' : 'form-control', 'rows' : '60', 'data-plugin-codemirror' : 'data-plugin-codemirror', 'data-plugin-options' : '{ "mode": "text/html" }' } }) }}
                    {% elseif file == 'articlesReadContentQuote' %}
                        {{ form_widget(form.articlesReadContentQuote, { 'attr' : { 'class' : 'form-control', 'rows' : '60', 'data-plugin-codemirror' : 'data-plugin-codemirror', 'data-plugin-options' : '{ "mode": "text/html" }' } }) }}

                    {% elseif file == 'usersLogin' %}
                        {{ form_widget(form.usersLogin, { 'attr' : { 'class' : 'form-control', 'rows' : '60', 'data-plugin-codemirror' : 'data-plugin-codemirror', 'data-plugin-options' : '{ "mode": "text/html" }' } }) }}
                        
                    {% endif %}

                </div>

            </div>

            {{ form_rest(form) }}

            <footer class="panel-footer">

                <button class="btn btn-primary" type="submit" id="_submit" name="_submit">Mettre à jour le fichier</button>

            </footer>

        </section>

    </form>

{% endblock %}
