{% extends "MgnUserBundle::admin.html.twig" %}

{% block pagetitle %}Groupes{% endblock %}

{% block title %}
    Liste des groupes - {{ parent() }}
{% endblock %}

{% block sidebar_users %}nav-expanded nav-active{% endblock %}
{% block user_submenu_groups %} class="active"{% endblock %}

{% block arianne %}
    {{ parent() }}
        </li>
        <li>
            {{ 'user.ariane.users_list'|trans }}
{% endblock %}

{% block user_body %}

	{% for message in app.session.flashbag.get('success') %}
	<div class="alert alert-primary">
    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <section class="panel">

		<header class="panel-heading">
			<div class="panel-actions">
				<a data-toggle="tooltip" class="btn-primary pull-right tips modal-with-zoom-anim" data-placement="left" title="Ajouter un groupe" href="#ModalAddGroup">
					<i class="fa fa-plus"></i>
				</a>
			</div>

			<!-- Modal -->
				<div class="zoom-anim-dialog modal-block modal-block-primary mfp-hide" id="ModalAddGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">

							<form name="" role="form" method="post" {{ form_enctype(form) }}>

							<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel">{{ 'user.form.groups_list.addGroup'|trans }}</h4>
							</div>

							<div class="modal-body">

								<div class="form-group{% if form_errors(form.name) %} has-error{% endif %}">

									<label for="mgn_userbundle_grouptype_name" class="right inline">{{ 'user.form.addgroup.name'|trans }}</label>
									{{ form_widget(form.name, { 'attr' : { 'class' : 'form-control' } }) }}

								</div>

								{{ form_rest(form) }}
								
							</div>

							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">{{ 'user.button.add'|trans }}</button>
								<button type="button" class="btn btn-default modal-dismiss" data-dismiss="modal">Annuler</button>
							</div>

							</form>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div>
			<!-- /.modal -->

			<h2 class="panel-title">Liste des groupes</h2>
		</header>

		<div class="panel-body">

			<div class="table-responsive">
			
				{% if groups_list is empty %}

					<table class="table table-hover mb-none">
			            <thead>
			                <tr>
			                	<th>Nom</th>
			                	<th>Description</th>
								<th>Nombre membre</th>
								<th>Actions</th>
			                </tr>
			            </thead>
			        </table>

					<div class="alert alert-dark">
						Aucun groupe n'a été trouvé.
					</div>

			    {% else %}

					<table class="table table-hover mb-none">

						<thead>

							<tr>

								<th>Nom</th>
			                	<th>Description</th>
								<th>Nombre membre</th>
								<th>Actions</th>

							</tr>

						</thead>

						<tbody>

							{% for group in groups_list %}

								<tr>

									<td>{{ group.name }}</td>
									<td>{{ group.description | truncate(100, true, '...') }}</td>
									<td>{{ group.countUsers }}</td>
									<td class="actions-hover">
										<a class="tips" data-toggle="tooltip" data-placement="bottom" title="Administrer" data-original-title="Administrer" href="{{ path('mgn_user_admin_group_administer', { 'id': group.id }) }}"><i class="fi-widget"></i></a>

										<a class="tips mb-xs mt-xs mr-xs modal-with-zoom-anim" data-toggle="tooltip" data-placement="bottom" title="Supprimer" data-original-title="Supprimer" href="#ModalDeleteGroup{{ group.id }}"><i class="fa fa-trash-o"></i></a>

										<!-- Modal -->
										<div class="zoom-anim-dialog modal-block modal-block-primary mfp-hide" id="ModalDeleteGroup{{ group.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<section class="panel">
												<header class="panel-heading">
													<h2 class="panel-title">Etes vous sûr?</h2>
												</header>
												<div class="panel-body">
													<div class="modal-wrapper">
														<div class="modal-icon">
															<i class="fa fa-question-circle"></i>
														</div>
														<div class="modal-text">
															<p>Etes vous sur de vouloir supprimer le groupe {{ group.name }} ?</p>
														</div>
													</div>
												</div>
												<footer class="panel-footer">
													<div class="row">
														<div class="col-md-12 text-right">
															<a type="button" class="btn btn-danger" href="{{ path('mgn_user_admin_group_delete', { 'id': group.id }) }}">Oui, supprimer</a>
															<button class="btn btn-default modal-dismiss">Annuler</button>
														</div>
													</div>
												</footer>
											</section>
										</div>
										<!-- /.modal -->

									</td>

								</tr>

							{% endfor %}

						</tbody>

					</table>

				{% endif %}

			</div>

		</div>

	</section>

{% endblock %}
