{% extends "MgnUserBundle::admin.html.twig" %}

{% block pagetitle %}{{ group.name }}{% endblock %}

{% block title %}
    {{ group.name }} - {{ parent() }}
{% endblock %}

{% block sidebar_users %}nav-expanded nav-active{% endblock %}
{% block user_submenu_groups %} class="active"{% endblock %}

{% block arianne %}
    {{ parent() }}
        </li>
        <li>
            {{ 'user.ariane.users_list'|trans }}
{% endblock %}

{% block user_body %}

	{% for message in app.session.flashbag.get('success') %}
	<div class="alert alert-primary">
    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <div class="row">

		<div class="col-lg-5">

		    <section class="panel">

				{{ form_start(formgroup, {'attr': {'class': ''}}) }}

					{{ form_errors(formgroup) }}

					<header class="panel-heading">

						<h2 class="panel-title">Edition du groupe</h2>

					</header>

					<div class="panel-body">

								<div class="form-group">
									{{ form_label(formgroup.name, "Nom", {'label_attr': {'class': 'control-label'}}) }}
									{{ form_errors(formgroup.name) }}
									<div class="">
										{{ form_widget(formgroup.name, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
									</div>
								</div>

								<div class="form-group">
									{{ form_label(formgroup.description, "Description", {'label_attr': {'class': 'control-label'}}) }}
									{{ form_errors(formgroup.description) }}
									<div class="">
										{{ form_widget(formgroup.description, {'attr': {'class': 'form-control textarea_elastic'}}) }}
									</div>
								</div>

					</div>

					<div class="panel-footer">
						{{ form_widget(formgroup.save, {'label': 'Enregistrer', 'attr': {'class': 'btn btn-primary'}}) }}
					</div>

					{{ form_rest(formgroup) }}

				{{ form_end(formgroup) }}

			</section>

		</div>

		<div class="col-lg-7">

			{% if user is empty %}

		    <section class="panel">

				<header class="panel-heading">

					<h2 class="panel-title">Membres du groupe</h2>

					<div class="panel-actions">
						<a data-toggle="tooltip" class="btn-primary pull-right tips modal-with-zoom-anim" data-placement="left" title="Ajouter un membre" href="#ModalAddGroup">
							<i class="fa fa-plus"></i>
						</a>
					</div>

					<!-- Modal -->
						<div class="zoom-anim-dialog modal-block modal-block-primary mfp-hide" id="ModalAddGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">

									{{ form_start(formuser, {'attr': {'class': ''}}) }}

										{{ form_errors(formuser) }}

										<div class="modal-header">
											<h4 class="modal-title" id="myModalLabel">Ajouter un membre</h4>
										</div>

										<div class="modal-body">

											<div class="form-group{% if form_errors(formuser.user) %} has-error{% endif %}">

												{{ form_label(formuser.user, "Membre", {'label_attr': {'class': 'control-label'}}) }}
												{{ form_errors(formuser.user) }}
												{{ form_widget(formuser.user, { 'attr' : { 'class' : 'form-control' } }) }}

											</div>

											<div class="form-group{% if form_errors(formuser.function) %} has-error{% endif %}">

												{{ form_label(formuser.function, "Fonction", {'label_attr': {'class': 'control-label'}}) }}
												{{ form_errors(formuser.function) }}
												{{ form_widget(formuser.function, { 'attr' : { 'class' : 'form-control' } }) }}

											</div>
											
										</div>

										<div class="modal-footer">
											{{ form_widget(formuser.save, {'label': 'Ajouter', 'attr': {'class': 'btn btn-primary'}}) }}
											<button type="button" class="btn btn-default modal-dismiss" data-dismiss="modal">Annuler</button>
										</div>

										{{ form_rest(formuser) }}

									{{ form_end(formgroup) }}

								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div>
					<!-- /.modal -->

				</header>

				<div class="panel-body">

					{% if group.users is empty %}

						<div class="alert alert-primary">
							Aucun membre ne fait partie de ce groupe
						</div>

					{% else %}

					<table class="table table-hover mb-none">

						<thead>

							<tr>

								<th>Pseudo</th>
								<th>Fonction</th>
								<th>Action</th>

							</tr>

						</thead>

						{% for user in group.users %}

							<tbody>

								<tr>

									<td>{{ user.user.username }}</td>
									<td>{{ user.function }}</td>
									<td class="actions-hover">
										<a class="tips" data-toggle="tooltip" data-placement="bottom" title="Editer" data-original-title="Editer" href="{{ path('mgn_user_admin_group_administer', { 'id': group.id, 'user': user.user.id }) }}"><i class="fa fa-pencil"></i></a>

										<a class="tips mb-xs mt-xs mr-xs modal-with-zoom-anim" data-toggle="tooltip" data-placement="bottom" title="Expulser" data-original-title="Expulser" href="#ModalDeleteGroup{{ group.id }}"><i class="fa fa-trash-o"></i></a>

										<!-- Modal -->
										<div class="zoom-anim-dialog modal-block modal-block-primary mfp-hide" id="ModalDeleteGroup{{ group.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<section class="panel">
												<header class="panel-heading">
													<h2 class="panel-title">Etes vous sûr?</h2>
												</header>
												<div class="panel-body">
													<div class="modal-wrapper">
														<div class="modal-icon">
															<i class="fa fa-question-circle"></i>
														</div>
														<div class="modal-text">
															<p>Etes vous sur de vouloir expulser {{ user.user.username }} du groupe {{ group.name }} ?</p>
														</div>
													</div>
												</div>
												<footer class="panel-footer">
													<div class="row">
														<div class="col-md-12 text-right">
															<a type="button" class="btn btn-danger" href="{{ path('mgn_user_admin_user_delete_to_group', { 'groupid': group.id, 'userid': user.user.id }) }}">Oui, expulser</a>
															<button class="btn btn-default modal-dismiss">Non</button>
														</div>
													</div>
												</footer>
											</section>
										</div>
										<!-- /.modal -->

										<!-- Modal -->
										<div class="modal fade" id="ModalEditUser{{ user.user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
														<h4 class="modal-title" id="myModalLabel">Editer {{ user.user.username }}</h4>
													</div>
													<div class="modal-body">
														
													</div>
													<div class="modal-footer">
														<a type="button" class="btn btn-primary" href="{{ path('mgn_user_admin_user_delete_to_group', { 'groupid': group.id, 'userid': user.user.id }) }}">Mettre à jour</a>
														<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
													</div>
												</div><!-- /.modal-content -->
											</div><!-- /.modal-dialog -->
										</div><!-- /.modal -->

									</td>

								</tr>

							</tbody>

						{% endfor %}

					</table>

					{% endif %}

				</div>

			</section>

			{% else %}

			<section class="panel">

				{{ form_start(formuser, {'attr': {'class': ''}}) }}

					{{ form_errors(formuser) }}

					<header class="panel-heading">

						<h2 class="panel-title">{{ userToGroup.user.username }}</h2>

					</header>

					<div class="panel-body">

								<div class="form-group">
									{{ form_label(formuser.function, "Description", {'label_attr': {'class': 'control-label'}}) }}
									{{ form_errors(formuser.function) }}
									<div class="">
										{{ form_widget(formuser.function, {'attr': {'class': 'form-control textarea_elastic'}}) }}
									</div>
								</div>

					</div>

					<div class="panel-footer">
						{{ form_widget(formuser.save, {'label': 'Enregistrer', 'attr': {'class': 'btn btn-primary'}}) }}
						<a href="{{ path('mgn_user_admin_group_administer', { 'id': group.id }) }}" class="btn btn-default" data-dismiss="modal">Annuler</a>
					</div>

					{{ form_rest(formuser) }}

				{{ form_end(formuser) }}

			</section>

			{% endif %}

		</div>
		
	</div>

{% endblock %}
