{% extends "MgnUserBundle::admin.html.twig" %}

{% block pagetitle %}Profil de {{ user.username }}{% endblock %}

{% block title %}
    Profil - {{ parent() }}
{% endblock %}

{% block sidebar_users %}nav-expanded nav-active{% endblock %}
{% block user_submenu_users %} class="active"{% endblock %}

{% block arianne %}
    {{ parent() }}
        </li>
        <li>
            {{ 'user.ariane.users_list'|trans }}
{% endblock %}

{% block user_body %}

{% if Config('profileFacebook') == false and Config('profileTwitter') == false and Config('profileLinkedin') == false and Config('profileSteam') == false and Config('profileGoogleplus') == false and Config('profileTwitch') == false and Config('profileYoutube') == false and Config('profilePinterest') == false %}
	{% set profileSocial = false %}
{% else %}
	{% set profileSocial = true %}
{% endif %}

<div class="row">

	{% for message in app.session.flashbag.get('success') %}
	<div class="col-lg-12">

		<div class="alert alert-primary">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{ message }}
		</div>

	</div>
    {% endfor %}

	<div class="col-md-4 col-lg-3">

		<section class="panel">
			<div class="panel-body">
				<div class="thumb-info mb-md">
					{{ user.avatar|avatar(app.user.avatarPath, user.email, '500', 'rounded img-responsive')|raw }}
					<div class="thumb-info-title">
						<span class="thumb-info-inner">{{ user.username }}</span>
						<span class="thumb-info-type">{% if user.granted("ROLE_SUPER_ADMIN") or user.granted("ROLE_ADMIN") %}ADMIN{% else %}MEMBRE{% endif %}</span>
					</div>
				</div>

				{#<div class="widget-toggle-expand mb-md">
					<div class="widget-header">
						<h6>Profil complété</h6>
						<div class="widget-toggle">+</div>
					</div>
					<div class="widget-content-collapsed">
						<div class="progress progress-xs light">
							<div class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
								66%
							</div>
						</div>
					</div>
					<div class="widget-content-expanded">
						<ul class="simple-todo-list">
							<li class="completed">Modifier son avatar</li>
							<li class="completed">Changer ses informations personnel</li>
							<li>Mettre à jour ses liens social</li>
						</ul>
					</div>
				</div>

				<hr class="dotted short">#}

				{% if user.biography %}
				<h6 class="text-muted">A propos</h6>
				<p>{{ user.biography }}</p>
				{% endif %}

				{% if profileSocial == true %}

				{% if ( user.facebook and Config('profileFacebook') == true ) or ( user.twitter and Config('profileTwitter') == true ) or ( user.linkedin and Config('profileLinkedin') == true ) or ( user.steam and Config('profileSteam') == true ) or ( user.googleplus and Config('profileGoogleplus') == true ) or ( user.twitch and Config('profileTwitch') == true ) or ( user.youtube and Config('profileYoutube') == true ) or ( user.pinterest and Config('profilePinterest') == true ) %}
				<hr class="dotted short">
				{% endif %}

				<div class="social-icons">
					{% if user.facebook and Config('profileFacebook') == true %}
					<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com/{{ user.facebook }}" data-original-title="Facebook">
						<i class="fa fa-facebook"></i><span>Facebook</span>
					</a>
					{% endif %}
					{% if user.twitter and Config('profileTwitter') == true %}
					<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.twitter.com/{{ user.twitter }}" data-original-title="Twitter">
						<i class="fa fa-twitter"></i><span>Twitter</span>
					</a>
					{% endif %}
					{% if user.linkedin and Config('profileLinkedin') == true %}
					<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.linkedin.com/pub/{{ user.linkedin }}" data-original-title="Linkedin">
						<i class="fa fa-linkedin"></i><span>Linkedin</span>
					</a>
					{% endif %}
					{% if user.steam and Config('profileSteam') == true %}
					<a rel="tooltip" data-placement="bottom" target="_blank" href="http://steamcommunity.com/id/{{ user.steam }}" data-original-title="Steam">
						<i class="fa fa-steam"></i><span>Steam</span>
					</a>
					{% endif %}
					{% if user.googleplus and Config('profileGoogleplus') == true %}
					<a rel="tooltip" data-placement="bottom" target="_blank" href="http://plus.google.com/{{ user.googleplus }}" data-original-title="Google Plus">
						<i class="fa fa-google-plus"></i><span>Google Plus</span>
					</a>
					{% endif %}
					{% if user.twitch and Config('profileTwitch') == true %}
					<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.twitch.tv/{{ user.twitch }}" data-original-title="Twitch">
						<i class="fa fa-twitch"></i><span>Twitch</span>
					</a>
					{% endif %}
					{% if user.youtube and Config('profileYoutube') == true %}
					<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.youtube.com/channel/{{ user.youtube }}" data-original-title="Youtube">
						<i class="fa fa-youtube-play"></i><span>Youtube</span>
					</a>
					{% endif %}
					{% if user.pinterest and Config('profilePinterest') == true %}
					<a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.pinterest.com/{{ user.pinterest }}" data-original-title="Pinterest">
						<i class="fa fa-pinterest"></i><span>Pinterest</span>
					</a>
					{% endif %}
				</div>

				{% endif %}

			</div>
		</section>


		{#<section class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="fa fa-caret-down"></a>
					<a href="#" class="fa fa-times"></a>
				</div>

				<h2 class="panel-title">
					<span class="label label-primary label-sm text-normal va-middle mr-sm">198</span>
					<span class="va-middle">Friends</span>
				</h2>
			</header>
			<div class="panel-body">
				<div class="content">
					<ul class="simple-user-list">
						<li>
							<figure class="image rounded">
								<img src="assets/images/!sample-user.jpg" alt="Joseph Doe Junior" class="img-circle">
							</figure>
							<span class="title">Joseph Doe Junior</span>
							<span class="message truncate">Lorem ipsum dolor sit.</span>
						</li>
						<li>
							<figure class="image rounded">
								<img src="assets/images/!sample-user.jpg" alt="Joseph Junior" class="img-circle">
							</figure>
							<span class="title">Joseph Junior</span>
							<span class="message truncate">Lorem ipsum dolor sit.</span>
						</li>
						<li>
							<figure class="image rounded">
								<img src="assets/images/!sample-user.jpg" alt="Joe Junior" class="img-circle">
							</figure>
							<span class="title">Joe Junior</span>
							<span class="message truncate">Lorem ipsum dolor sit.</span>
						</li>
						<li>
							<figure class="image rounded">
								<img src="assets/images/!sample-user.jpg" alt="Joseph Doe Junior" class="img-circle">
							</figure>
							<span class="title">Joseph Doe Junior</span>
							<span class="message truncate">Lorem ipsum dolor sit.</span>
						</li>
					</ul>
					<hr class="dotted short">
					<div class="text-right">
						<a class="text-uppercase text-muted" href="#">(View All)</a>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<div class="input-group input-search">
					<input type="text" class="form-control" name="q" id="q" placeholder="Search...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
		</section>#}

		{#<section class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="fa fa-caret-down"></a>
					<a href="#" class="fa fa-times"></a>
				</div>

				<h2 class="panel-title">Popular Posts</h2>
			</header>
			<div class="panel-body">
				<ul class="simple-post-list">
					<li>
						<div class="post-image">
							<div class="img-thumbnail">
								<a href="#">
									<img src="assets/images/post-thumb-1.jpg" alt="">
								</a>
							</div>
						</div>
						<div class="post-info">
							<a href="#">Nullam Vitae Nibh Un Odiosters</a>
							<div class="post-meta">
								 Jan 10, 2013
							</div>
						</div>
					</li>
					<li>
						<div class="post-image">
							<div class="img-thumbnail">
								<a href="#">
									<img src="assets/images/post-thumb-2.jpg" alt="">
								</a>
							</div>
						</div>
						<div class="post-info">
							<a href="#">Vitae Nibh Un Odiosters</a>
							<div class="post-meta">
								 Jan 10, 2013
							</div>
						</div>
					</li>
					<li>
						<div class="post-image">
							<div class="img-thumbnail">
								<a href="#">
									<img src="assets/images/post-thumb-3.jpg" alt="">
								</a>
							</div>
						</div>
						<div class="post-info">
							<a href="#">Odiosters Nullam Vitae</a>
							<div class="post-meta">
								 Jan 10, 2013
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>#}

	</div>
	<div class="col-md-8 col-lg-6">

		<div class="tabs">
			<ul class="nav nav-tabs tabs-primary">
				<li class="active">
					<a href="#overview" data-toggle="tab">Activités</a>
				</li>
				<li>
					<a href="#profil" data-toggle="tab">Profil</a>
				</li>
				{% if profileSocial == true %}
				<li>
					<a href="#social" data-toggle="tab">Social</a>
				</li>
				{% endif %}
				{#<li>
					<a href="#game" data-toggle="tab">Préférences</a>
				</li>#}
				<li>
					<a href="#avatar" data-toggle="tab">Avatar</a>
				</li>
				<li>
					<a href="#security" data-toggle="tab">Sécurité</a>
				</li>
			</ul>
			<div class="tab-content">

				<div id="overview" class="tab-pane active">

					<div class="alert alert-dark">
						<strong>Patientez, </strong> cette fonctionnalité n'est pas encore activé.
					</div>

					{#<div class="timeline timeline-simple mt-xlg mb-md">
						<div class="tm-body">
							<div class="tm-title">
								<h3 class="h5 text-uppercase">
									{% if date()|date('m') == 01 %}{% set month = 'JANVIER' %}
									{% elseif date()|date('m') == 02 %}{% set month = 'FEVRIER' %}
									{% elseif date()|date('m') == 03 %}{% set month = 'MARS' %}
									{% elseif date()|date('m') == 04 %}{% set month = 'AVRIL' %}
									{% elseif date()|date('m') == 05 %}{% set month = 'MAI' %}
									{% elseif date()|date('m') == 06 %}{% set month = 'JUIN' %}
									{% elseif date()|date('m') == 07 %}{% set month = 'JUILLET' %}
									{% elseif date()|date('m') == 08 %}{% set month = 'AOUT' %}
									{% elseif date()|date('m') == 09 %}{% set month = 'SEPTEMBRE' %}
									{% elseif date()|date('m') == 10 %}{% set month = 'OCTOBRE' %}
									{% elseif date()|date('m') == 11 %}{% set month = 'NOVEMBRE' %}
									{% elseif date()|date('m') == 12 %}{% set month = 'DECEMBRE' %}
									{% endif %}
									{{ month }} {{ date()|date('Y') }}
								</h3>
							</div>
							<ol class="tm-items">
								<li>
									<div class="tm-box">
										<p class="text-muted mb-none">Le 24 décembre 2014.</p>
										<p>
											Création d'un nouveau sujet : <span class="text-primary">Fuckof console !</span>
										</p>
									</div>
								</li>
								<li>
									<div class="tm-box">
										<p class="text-muted mb-none">Le 7 décembre 2014.</p>
										<p>
											Changement du mot de passe.
										</p>
									</div>
								</li>
							</ol>
						</div>
					</div>#}

				</div>

				<div id="profil" class="tab-pane">

					{{ form_start(formProfile, {'attr': {'class': 'form-horizontal'}}) }}

						{{ form_errors(formProfile) }}

						<h4 class="mb-xlg">Compte</h4>

						<fieldset>

							<div class="form-group">
								{{ form_label(formProfile.username, "Pseudo", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
								{{ form_errors(formProfile.username) }}
								<div class="col-md-8">
									{{ form_widget(formProfile.username, {'attr': {'class': 'form-control'}}) }}
								</div>
							</div>

							<div class="form-group">
								{{ form_label(formProfile.email, "E-mail", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
								{{ form_errors(formProfile.email) }}
								<div class="col-md-8">
									{{ form_widget(formProfile.email, {'attr': {'class': 'form-control'}}) }}
								</div>
							</div>

							<div class="form-group">

								{{ form_label(formProfile.emailVisible, "E-mail visible", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
								<div class="col-md-8">
									<div class="switch switch-sm switch-primary">
										{{ form_widget(formProfile.emailVisible, {'attr': {'class': 'form-control', 'data-plugin-ios-switch' : 'data-plugin-ios-switch'}}) }}
									</div>
								</div>

							</div>

						</fieldset>

						<hr class="dotted tall">

						<h4 class="mb-xlg">Information personnel</h4>

						<fieldset>

							{% if Config('profileFirstName') == true %}
								<div class="form-group">
									{{ form_label(formProfile.firstName, "Prénom", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
									{{ form_errors(formProfile.firstName) }}
									<div class="col-md-8">
										{{ form_widget(formProfile.firstName, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
							{% endif %}

							{% if Config('profileLastName') == true %}
								<div class="form-group">
									{{ form_label(formProfile.lastName, "Nom", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
									{{ form_errors(formProfile.lastName) }}
									<div class="col-md-8">
										{{ form_widget(formProfile.lastName, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
							{% endif %}

							{% if Config('profileBirthday') == true %}
						   		<div class="form-group">
						   			{{ form_label(formProfile.birthday, "Date de naissance", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
									{{ form_errors(formProfile.birthday) }}
									<div class="col-md-8">
										{{ form_widget(formProfile.birthday, { 'attr' : { 'class' : 'form-control datepicker', 'data-date-format' : 'dd/mm/yyyy', 'data-plugin-datepicker' : 'data-plugin-datepicker', 'data-plugin-masked-input' : 'data-plugin-masked-input', 'data-input-mask' : '31/12/9999', 'placeholder' : '__/__/____' } }) }}
										<p class="help-block">
											<strong>Format:</strong>
											Jour / Mois / Année
										</p>
									</div>
								</div>
							{% endif %}

							{% if Config('profileCity') == true %}
								<div class="form-group">
									{{ form_label(formProfile.city, "Ville", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
									{{ form_errors(formProfile.city) }}
									<div class="col-md-8">
										{{ form_widget(formProfile.city, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
							{% endif %}

						</fieldset>

						<hr class="dotted tall">

						<h4 class="mb-xlg">A propos</h4>

						<fieldset>

							{% if Config('profileWebsite') == true %}
								<div class="form-group">
									{{ form_label(formProfile.website, "Site web", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
									{{ form_errors(formProfile.website) }}
									<div class="col-md-8">
										{{ form_widget(formProfile.website, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
							{% endif %}

							{% if Config('profileBiography') == true %}
								<div class="form-group">
									{{ form_label(formProfile.biography, "Biographie", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
									{{ form_errors(formProfile.biography) }}
									<div class="col-md-8">
										{{ form_widget(formProfile.biography, {'attr': {'class': 'form-control textarea_elastic', 'rows' : '3'}}) }}
									</div>
								</div>
							{% endif %}

							{% if Config('profileSignature') == true %}
								<div class="form-group">
									{{ form_label(formProfile.signature, "Signature", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
									{{ form_errors(formProfile.signature) }}
									<div class="col-md-8">
										{{ form_widget(formProfile.signature, {'attr': {'class': 'form-control textarea_elastic', 'rows' : '3'}}) }}
									</div>
								</div>
							{% endif %}

						</fieldset>

						<div class="panel-footer">
							<div class="row">
								<div class="col-md-9 col-md-offset-3">
									{{ form_widget(formProfile.save, {'label': 'Enregistrer', 'attr': {'class': 'btn btn-primary'}}) }}
									<a href="{{ path('mgn_user_admin_profile_user', {'id': user.id}) }}" class="btn btn-default">Réinitialiser</a>
								</div>
							</div>
						</div>

						{{ form_rest(formProfile) }}

					{{ form_end(formProfile) }}

				</div>

				{% if profileSocial == true %}
				<div id="social" class="tab-pane">
					
					{{ form_start(formSocial, {'attr': {'class': 'form-horizontal'}}) }}

						<h4 class="mb-xlg">Réseaux sociaux</h4>

						{{ form_errors(formSocial) }}

						<fieldset>

							{% if Config('profileFacebook') == true %}
								<div class="form-group">
									{{ form_label(formSocial.facebook, "Facebook", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
									{{ form_errors(formSocial.facebook) }}
									<div class="col-md-8">
										<div class="input-group mb-md">
											<span class="input-group-addon">https://www.facebook.com/</span>
											{{ form_widget(formSocial.facebook, {'attr': {'class': 'form-control'}}) }}
										</div>
									</div>
								</div>
							{% endif %}

							{% if Config('profileTwitter') == true %}
								<div class="form-group">
									{{ form_label(formSocial.twitter, "Twitter", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
									{{ form_errors(formSocial.twitter) }}
									<div class="col-md-8">
										<div class="input-group mb-md">
											<span class="input-group-addon">http://twitter.com/</span>
											{{ form_widget(formSocial.twitter, {'attr': {'class': 'form-control'}}) }}
										</div>
									</div>
								</div>
							{% endif %}

							{% if Config('profileLinkedin') == true %}
								<div class="form-group">
									{{ form_label(formSocial.linkedin, "Linkedin", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
									{{ form_errors(formSocial.linkedin) }}
									<div class="col-md-8">
										<div class="input-group mb-md">
											<span class="input-group-addon">http://www.linkedin.com/pub/</span>
											{{ form_widget(formSocial.linkedin, {'attr': {'class': 'form-control'}}) }}
										</div>
									</div>
								</div>
							{% endif %}

							{% if Config('profileSteam') == true %}
								<div class="form-group">
									{{ form_label(formSocial.steam, "Steam", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
									{{ form_errors(formSocial.steam) }}
									<div class="col-md-8">
										<div class="input-group mb-md">
											<span class="input-group-addon">http://steamcommunity.com/id/</span>
											{{ form_widget(formSocial.steam, {'attr': {'class': 'form-control'}}) }}
										</div>
									</div>
								</div>
							{% endif %}

							{% if Config('profileGoogleplus') == true %}
								<div class="form-group">
									{{ form_label(formSocial.googleplus, "Google Plus", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
									{{ form_errors(formSocial.googleplus) }}
									<div class="col-md-8">
										<div class="input-group mb-md">
											<span class="input-group-addon">http://plus.google.com/</span>
											{{ form_widget(formSocial.googleplus, {'attr': {'class': 'form-control'}}) }}
										</div>
									</div>
								</div>
							{% endif %}

							{% if Config('profileTwitch') == true %}
								<div class="form-group">
									{{ form_label(formSocial.twitch, "Twitch", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
									{{ form_errors(formSocial.twitch) }}
									<div class="col-md-8">
										<div class="input-group mb-md">
											<span class="input-group-addon">http://www.twitch.tv/</span>
											{{ form_widget(formSocial.twitch, {'attr': {'class': 'form-control'}}) }}
										</div>
									</div>
								</div>
							{% endif %}

							{% if Config('profileYoutube') == true %}
								<div class="form-group">
									{{ form_label(formSocial.youtube, "YouTube", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
									{{ form_errors(formSocial.youtube) }}
									<div class="col-md-8">
										<div class="input-group mb-md">
											<span class="input-group-addon">http://www.youtube.com/channel/</span>
											{{ form_widget(formSocial.youtube, {'attr': {'class': 'form-control'}}) }}
										</div>
									</div>
								</div>
							{% endif %}

							{% if Config('profilePinterest') == true %}
								<div class="form-group">
									{{ form_label(formSocial.pinterest, "Pinterest", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
									{{ form_errors(formSocial.pinterest) }}
									<div class="col-md-8">
										<div class="input-group mb-md">
											<span class="input-group-addon">http://www.pinterest.com/</span>
											{{ form_widget(formSocial.pinterest, {'attr': {'class': 'form-control'}}) }}
										</div>
									</div>
								</div>
							{% endif %}

						</fieldset>

						<div class="panel-footer">

							<div class="row">

								<div class="col-md-9 col-md-offset-3">
									{{ form_widget(formSocial.save, {'label': 'Enregistrer', 'attr': {'class': 'btn btn-primary'}}) }}
									<a href="{{ path('mgn_user_admin_profile_user', {'id': user.id}) }}" class="btn btn-default">Réinitialiser</a>
								</div>

							</div>

						</div>

						{{ form_rest(formSocial) }}

					{{ form_end(formSocial) }}

				</div>
				{% endif %}

				<div id="avatar" class="tab-pane">

					{{ form_start(formAvatar, {'attr': {'class': 'form-horizontal'}}) }}

						<h4 class="mb-xlg">Modifier son avatar</h4>

						{{ form_errors(formPassword) }}

						<fieldset class="mb-xl">
							<div class="form-group">

								<div class="col-lg-6 text-center">
										<img src="{{ asset('themes/'~Config('theme')~'/img/avatar.png') }}" title="Avatar par default" />
								</div>
								<div class="col-lg-6 text-center">
									{% if gravatar_exists(app.user.email) %}
										<img src="{{ gravatar(user.email, 250) }}" title="Avatar de {{ user.username }}" /> 
									{% endif %}
								</div>
							</div>

							<div class="form-group">

								<div class="col-lg-6 text-center">
									{{ form_widget(formAvatar.avatar.0) }}
									Défault
							    </div>
								<div class="col-lg-6 text-center">
									{% if gravatar_exists(app.user.email) %}
									{{ form_widget(formAvatar.avatar.1) }}
								    <a href="http://fr.gravatar.com/" target="_blank">Gravatar</a>
								    {% else %}
								    <fieldset disabled>
									{{ form_widget(formAvatar.avatar.1) }}
								    <a href="http://fr.gravatar.com/" target="_blank">Gravatar</a>
								    </fieldset>
								    {% endif %}
							    </div>
							</div>

						</fieldset>	

						<div class="panel-footer">
							<div class="row">
								<div class="col-md-9 col-md-offset-3">
									{{ form_widget(formAvatar.save, {'label': 'Enregistrer', 'attr': {'class': 'btn btn-primary'}}) }}
									<a href="{{ path('mgn_user_admin_profile_user', {'id': user.id}) }}" class="btn btn-default">Réinitialiser</a>
								</div>
							</div>
						</div>

						{{ form_rest(formAvatar) }}

					{{ form_end(formAvatar) }}
				
				</div>

				<div id="security" class="tab-pane">

					{{ form_start(formSecurity, {'attr': {'class': 'form-horizontal'}}) }}

						<h4 class="mb-xlg">Etat</h4>

						<fieldset class="mb-xl">
							<div class="form-group">

								{{ form_label(formSecurity.isActive, "Activer", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
								<div class="col-md-8">
									<div class="switch switch-sm switch-primary">
										{{ form_widget(formSecurity.isActive, {'attr': {'class': 'form-control', 'data-plugin-ios-switch' : 'data-plugin-ios-switch'}}) }}
									</div>
								</div>

							</div>
						</fieldset>

						<hr class="dotted tall">

						<h4 class="mb-xlg">Blocage du compte</h4>

						<fieldset class="mb-xl">
							<div class="form-group">

								{{ form_label(formSecurity.locked, "Interdire", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
								<div class="col-md-8">
									<div class="switch switch-sm switch-primary">
										{{ form_widget(formSecurity.locked, {'attr': {'class': 'form-control', 'data-plugin-ios-switch' : 'data-plugin-ios-switch'}}) }}
									</div>
								</div>

							</div>

							<div class="form-group">
								{{ form_label(formSecurity.lockedFor, "Raison", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
								{{ form_errors(formSecurity.lockedFor) }}
								<div class="col-md-8">
									{{ form_widget(formSecurity.lockedFor, {'attr': {'class': 'form-control'}}) }}
								</div>
							</div>
						</fieldset>

						<div class="panel-footer" style="margin-bottom: 20px;">
							<div class="row">
								<div class="col-md-9 col-md-offset-3">
									{{ form_widget(formSecurity.save, {'label': 'Enregistrer', 'attr': {'class': 'btn btn-primary'}}) }}
									<a href="{{ path('mgn_user_admin_profile_user', {'id': user.id}) }}" class="btn btn-default">Réinitialiser</a>
								</div>
							</div>
						</div>

						{{ form_rest(formSecurity) }}

					{{ form_end(formSecurity) }}

					{{ form_start(formPassword, {'attr': {'class': 'form-horizontal'}}) }}

						<h4 class="mb-xlg">Modifier mot de passe</h4>

						{{ form_errors(formPassword) }}

						<fieldset class="mb-xl">
							<div class="form-group">
								{{ form_label(formPassword.password.first, "Nouveau mot de passe", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
								{{ form_errors(formPassword.password.first) }}
								<div class="col-md-8">
									{{ form_widget(formPassword.password.first, {'attr': {'class': 'form-control'}}) }}
								</div>
							</div>
							<div class="form-group">
								
								{{ form_label(formPassword.password.second, "Confirmer", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
								{{ form_errors(formPassword.password.second) }}
								<div class="col-md-8">
									{{ form_widget(formPassword.password.second, {'attr': {'class': 'form-control'}}) }}
								</div>
							</div>
						</fieldset>

						<div class="panel-footer" style="margin-bottom: 20px;">
							<div class="row">
								<div class="col-md-9 col-md-offset-3">
									{{ form_widget(formPassword.save, {'label': 'Mettre à jour le mot de passe', 'attr': {'class': 'btn btn-primary'}}) }}
								</div>
							</div>
						</div>

						{{ form_rest(formPassword) }}

					{{ form_end(formPassword) }}

					{{ form_start(formDeleted, {'attr': {'class': 'form-horizontal'}}) }}

						<h4 class="mb-xlg">Supprimer le compte</h4>

						{{ form_errors(formDeleted) }}

						<fieldset class="mb-xl">
							<div class="form-group">

								{{ form_label(formDeleted.deleted, "Supprimer", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
								<div class="col-md-8">
									<div class="switch switch-sm switch-primary">
										{{ form_widget(formDeleted.deleted, {'attr': {'class': 'form-control', 'data-plugin-ios-switch' : 'data-plugin-ios-switch'}}) }}
									</div>
								</div>

							</div>
						</fieldset>

						<div class="panel-footer">
							<div class="row">
								<div class="col-md-9 col-md-offset-3">
									{{ form_widget(formDeleted.save, {'label': 'Oui, supprimer le compte', 'attr': {'class': 'btn btn-primary'}}) }}
								</div>
							</div>
						</div>

						{{ form_rest(formDeleted) }}

					{{ form_end(formDeleted) }}

				</div>

			</div>
		</div>
	</div>
	<div class="col-md-12 col-lg-3">

		<h4 class="mb-md">Statistiques</h4>

		<div class="row">

			{% if Config('cmsArticle') == true %}
				<div class="col-md-12 col-xl-12">
					<section class="panel">
						<div class="panel-body bg-secondary">
							<div class="widget-summary widget-summary-sm">
								<div class="widget-summary-col widget-summary-col-icon">
									<div class="summary-icon">
										<i class="fa fa-pencil"></i>
									</div>
								</div>
								<div class="widget-summary-col">
									<div class="summary">
										<h4 class="title">Articles publiés</h4>
										<div class="info">
											<strong class="amount">{{ user.countArticle }}</strong>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			{% endif %}

			{% if Config('cmsForum') == true %}
				<div class="col-md-12 col-xl-12">
					<section class="panel">
						<div class="panel-body bg-secondary">
							<div class="widget-summary widget-summary-sm">
								<div class="widget-summary-col widget-summary-col-icon">
									<div class="summary-icon">
										<i class="fi-list-thumbnails"></i>
									</div>
								</div>
								<div class="widget-summary-col">
									<div class="summary">
										<h4 class="title">Topics créés</h4>
										<div class="info">
											<strong class="amount">{{ user.countTopic }}</strong>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			{% endif %}

			{% if Config('cmsForum') == true %}
				<div class="col-md-12 col-xl-12">
					<section class="panel">
						<div class="panel-body bg-secondary">
							<div class="widget-summary widget-summary-sm">
								<div class="widget-summary-col widget-summary-col-icon">
									<div class="summary-icon">
										<i class="fi-results-demographics"></i>
									</div>
								</div>
								<div class="widget-summary-col">
									<div class="summary">
										<h4 class="title">Posts</h4>
										<div class="info">
											<strong class="amount">{{ user.countPost }}</strong>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			{% endif %}

			<div class="col-md-12 col-xl-12">
				<section class="panel">
					<div class="panel-body bg-secondary">
						<div class="widget-summary widget-summary-sm">
							<div class="widget-summary-col widget-summary-col-icon">
								<div class="summary-icon">
									<i class="fi-comments"></i>
								</div>
							</div>
							<div class="widget-summary-col">
								<div class="summary">
									<h4 class="title">Commentaires</h4>
									<div class="info">
										<strong class="amount">{{ user.countMessage }}</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

		</div>

		{#<h4 class="mb-md">Projects</h4>
		<ul class="simple-bullet-list mb-xlg">
			<li class="red">
				<span class="title">Porto Template</span>
				<span class="description truncate">Lorem ipsom dolor sit.</span>
			</li>
			<li class="green">
				<span class="title">Tucson HTML5 Template</span>
				<span class="description truncate">Lorem ipsom dolor sit amet</span>
			</li>
			<li class="blue">
				<span class="title">Porto HTML5 Template</span>
				<span class="description truncate">Lorem ipsom dolor sit.</span>
			</li>
			<li class="orange">
				<span class="title">Tucson Template</span>
				<span class="description truncate">Lorem ipsom dolor sit.</span>
			</li>
		</ul>#}

		{#<h4 class="mb-md">Messages</h4>
		<ul class="simple-user-list mb-xlg">
			<li>
				<figure class="image rounded">
					<img src="assets/images/!sample-user.jpg" alt="Joseph Doe Junior" class="img-circle">
				</figure>
				<span class="title">Joseph Doe Junior</span>
				<span class="message">Lorem ipsum dolor sit.</span>
			</li>
			<li>
				<figure class="image rounded">
					<img src="assets/images/!sample-user.jpg" alt="Joseph Junior" class="img-circle">
				</figure>
				<span class="title">Joseph Junior</span>
				<span class="message">Lorem ipsum dolor sit.</span>
			</li>
			<li>
				<figure class="image rounded">
					<img src="assets/images/!sample-user.jpg" alt="Joe Junior" class="img-circle">
				</figure>
				<span class="title">Joe Junior</span>
				<span class="message">Lorem ipsum dolor sit.</span>
			</li>
			<li>
				<figure class="image rounded">
					<img src="assets/images/!sample-user.jpg" alt="Joseph Doe Junior" class="img-circle">
				</figure>
				<span class="title">Joseph Doe Junior</span>
				<span class="message">Lorem ipsum dolor sit.</span>
			</li>
		</ul>#}
	</div>

</div>
	
{% endblock %}
