{% extends "MgnUserBundle::admin.html.twig" %}

{% block title %}
    Liste des utilisateurs - {{ parent() }}
{% endblock %}

{% block sidebar_users %}nav-expanded nav-active{% endblock %}
{% block user_submenu_users %} class="active"{% endblock %}

{% block arianne %}
    {{ parent() }}
        </li>
        <li>
            {{ 'user.ariane.users_list'|trans }}
{% endblock %}

{% block user_body %}

	{% for message in app.session.flashbag.get('success') %}
	<div class="alert alert-primary">
    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <section class="panel">

		<header class="panel-heading">
			<div class="panel-actions">
				<a data-toggle="tooltip" class="btn-primary pull-right tips" data-placement="left" title="Ajouter un utilisateur" href="">
				<i class="fa fa-plus"></i>
			</a>
			</div>

			<h2 class="panel-title">Tous les utilisateurs</h2>
		</header>

		<div class="panel-body">
			
			{% if users_list is empty %}

				<div class="row">
			    	<div class="col-lg-4 form-group pull-right">
							<input type="text" class="form-control" placeholder="Recherche" id="articleSearch">
					</div>
				</div>

				<table class="table table-hover" id="articleList">
		            <thead>
		                <tr>
		                	<th>Pseudo</th>
							<th>Email</th>
							<th>Date d'inscription</th>
							<th>Dernière connection</th>
							<th>Status</th>
							<th>Actions</th>
		                </tr>
		            </thead>
		        </table>

				<div class="alert alert-dark">
					<strong>WTF ??!</strong> Aucun utilisateur n'existe sur le site.
				</div>

		    {% else %}

		    	<div class="row">
			    	<div class="col-lg-4 form-group pull-right">
							<input type="text" class="form-control" placeholder="Recherche" id="articleSearch">
					</div>
				</div>

		    	<table class="table table-hover" id="articleList">
		            <thead>
		                <tr>
		                	<th>Pseudo</th>
		                	<th>Prénom</th>
		                	<th>Nom</th>
							<th>Email</th>
							<th>Date d'inscription</th>
							<th>Dernière connection</th>
							<th>Status</th>
							{#<th>Actions</th>#}
		                </tr>
		            </thead>
		            <tbody>
		                {% for user in users_list %}
		                
		                <tr>
		                
		                    <td>
		                    	{{ user.avatar|avatar(app.user.avatarPath, app.user.email, '20', '')|raw }}
		                    	<a href="{{ path('mgn_user_admin_profile_user', {'id': user.id}) }}"><strong>{{ user.username }}</strong></a>
		                    </td>

		                    <td>{{ user.firstName }}</td>
		                    <td>{{ user.lastName }}</td>
		                    <td>{{ user.email }}</td>
		                    <td>{{ user.registered|datetime }}</td>
		                    <td>{% if user.lastLogin %}{{ user.lastLogin|datetime }}{% endif %}</td>
		                    <td>
		                    	{% if user.active == true %}<span class="text-success">Validé</span>{% else %}<span class="text-danger">En attente</span>{% endif %}
		                    </td>
		                    {#<td>
								<button type="button" disabled="disabled" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="bottom" title="{{ 'user.form.users_list.addUser'|trans }}" data-original-title="{{ 'user.form.users_list.addUser'|trans }}"><i class="fi-widget"></i></button>
							</td>#}
		                </tr>
		                
		                {% endfor %}
		            </tbody>
		        </table>

			{% endif %}

		</div>

	</section>

{% endblock %}
